	 <div class="container row">
           <h1>This app will help you to practice your noSql skills</h1>
           <p style=”text-align: justify;”>
               You can press the populateDB to populate 3 users. Try to reach 
               /welcome or extracting info from the collection.
           </p>
           
	</div>